name: Terraform (OIDC)

on:
  workflow_dispatch:
    inputs:
      action:
        description: "Terraform action"
        required: true
        default: "plan"
        type: choice
        options:
          - plan
          - apply
          - destroy

permissions:
  id-token: write
  contents: read

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials via OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::767397900909:role/gh-actions-terraform
          aws-region: us-east-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform Init
        working-directory: terraform/aws
        run: terraform init

      - name: Terraform Validate
        working-directory: terraform/aws
        run: terraform validate

      - name: Terraform Plan
        if: inputs.action == 'plan'
        working-directory: terraform/aws
        run: terraform plan

      - name: Terraform Apply
        if: inputs.action == 'apply'
        working-directory: terraform/aws
        run: terraform apply -auto-approve

      - name: Terraform Destroy
        if: inputs.action == 'destroy'
        working-directory: terraform/aws
        run: terraform destroy -auto-approve
